<div class="container mt-3 p-0">
	<div class="jumbotron">
		<p class="lead">Для разработки использовались следующие технологии:</p>
		<ul class="lead">
			<li>NodeJS</li>
			<li>MongoDB</li>
			<li>Bootstrap</li>
			<li>PassportJS</li>
			<li>Handlebars</li>
		</ul>
	</div>
</div>