<div class="container mt-3 p-0">
	<div class="jumbotron">
		<h1 class="display-4 text-center">Добавляйте ваши заметки</h1>
		<p class="lead text-center"> Фиксируйте свои идеи в базу данных</p>
	</div>
</div>