<div class="container">
	<h1>Add</h1>
	<div class="card card-body">
		{{#each errors}}
		<div class="alert alert-danger">{{text}}</div>
		{{/each}}
		<h3>Заметка
		</h3>
		<form action="/ideas" method="post">
			<div class="form-group">
				<label for="title">Название</label>
				<input type="text" class="form-control" name="title" required>
			</div>
			<div class="form-group">
				<label for="detailes">Описание</label>
				<textarea class="form-control" name="detailes" required>
				</textarea>
			</div>
			<button type="submit" class="btn btn-primary">Отправить</button>
		</form>
	</div>
</div>